@media (max-width: 990px) {
  .container-home {
    .text-content {
      text-align: center;
      padding-top: 23vh;
    }
  }
  .container-sobre {
    .text-content {
      padding-top: 110px;
    }
  }
  .container-projetos {
    min-height: auto;
    padding-bottom: 20vh;
  }
}
@media (max-width: 770px) {
  .container-sobre {
    .text-content {
      padding-top: 15vh;
      text-align: center;
    }
  }
  .container-projetos {
    padding-bottom: 10vh;
  }
}

@media (max-width: 370px) {
  .logo {
    .text-logo {
      display: none;
    }
  }
}

@media (max-width: 352px) {
  .container-home {
    .text-content {
      #link-copied {
        margin-top: 2vh;
        &::before {
          right: 40px;
          top: -20px;
          transform: rotate(90deg);
        }
      }
    }
  }
}
